@model AprendaMaisSistema.Models.Alunos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alunos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAlunos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAlunos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAlunos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAlunos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoneAlunos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoneAlunos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfAlunos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfAlunos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexoAlunos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexoAlunos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlunosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
